<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://safaricom.et/">
                        Safaricom Ethiopia
                    </a>
                </li>
                <li>
                    <a href="https://safaricom.et/index.php/about-us/who-we-are">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="https://safaricom.et/index.php/contact-us">
                        Contact Us
                    </a>
                </li>
                <li>
                    <a href="https://safaricom.et/index.php/faqs">
                        FAQ
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, made by
            <a href="https://ethio-devs.vercel.app/" target="_blank">Bereket Zelalem</a> (VAS).
        </div>
    </div>
</footer>
