// Bootstrap brand color customization


/*     brand Colors              */
$brand-primary:  #009933 !default;  // Safaricom's green
$brand-danger:   #FF0000 !default;  // Safaricom's red
$brand-inverse:  #FFFFFF !default;  // White

// Other brand colors can be defined based on Safaricom's branding guidelines
$brand-info:     #00AEEF !default;  // Blue
$brand-success:  #4CAF50 !default;  // Another shade of green
$brand-warning:  #FFC107 !default;  // Yellow
$brand-rose:     #E91E63 !default;  // Pink